<div id="post-meta-header">
  <div class="row">
    <div class="col-lg-6">
      {{ with .Params.tags }}
      <span class="post-meta-tags" itemprop="articleSection">
        {{ delimit (apply (apply (sort .) "partial" "post/tag-link" ".") "chomp" ".") "" }}
      </span>
      {{ end }}
    </div>

    <div class="col-lg-6">
      {{ with .Params.categories }}
        <span class="post-meta-category" itemprop="articleSection">
        {{ delimit (apply (apply (sort .) "partial" "post/category-link" ".") "chomp" ".") "" }}
      </span>
      {{ end }}
    </div>
  </div>
</div>
