+++
draft= false
title = "Nutzungsbedingungen"
description = "Anoxinon Messenger"
+++

<h6>Information</h6>

<p>Die nachfolgenden Regeln werden mit der Erstellung eines Accounts akzeptiert und gelten für sämtliche Dienste die unter der Domain „anoxinon.me“ angeboten werden. Dieser Dienst ist ein Ort, an dem Menschen unterschiedlicher Herkunft und Art zusammenkommen. Wie überall müssen daher gewisse Regeln gelten, deren Einhaltung durch das Administrations & Moderations Team überwacht wird.</p>

<p>Oberstes Gebot sollte die gegenseitige Rücksichtnahme sein. Die Tatsache dass dies ein öffentlicher Internetdienst ist und man sich nicht "real" gegenübersteht, entbindet nicht von den Grundregeln menschlichen Zusammenlebens und einem Mindestmaß an Benehmen.</p>

<h6>Allgemeines</h6>

<ul>

  <li>Alle Verstöße oder Aufrufe zum Verstoß gegen deutsches Recht sind untersagt und werden geahndet.</li>

</ul>

<h6>Beiträge</h6>

<ul>

  <li>Beiträge [ua. Nachrichten, Bilder, Dateien etc.] mit rassistischem, illegalen, pornographischem oder gewaltverherrlichendem Inhalt sind streng untersagt. Unter diese Regel fallen auch Avatare und Verweise zu Seiten mit entsprechenden Inhalten. (bspw. Cracks, Hacks & Warez)</li>
  <li>Das massenweise Versenden von Nachrichten oder Datein (sogenanntes Spamming) in einem kurzen Zeitraum ist untersagt.</li>
  <li>Die Veröffentlichung von E-Mails, PNs, Ingame-Messages, TS³/XMPP-Querys oder Gesprächen aus nicht öffentlichen Channeln ist nur dann erlaubt, wenn alle beteiligten Parteien ihre Erlaubnis dazu gegeben haben.</li>
  <li>Beleidigungen und Belästigungen sind generell verboten. Darunter fallen auch jede Form der Diffamierung, Hetze, Übler Nachrede und dergleichen.</li>


</ul>

<h6>Account</h6>

<ul>
  <li>Jedem Nutzer steht maximal ein Account zu. Mehrfachanmeldungen sind nur mit schriftlicher Zustimmung der Administration gestattet. (Bspw. Zur Erstellung eines Projektaccounts)</li>

 <li>Die Administration behält sich vor, dem User die Lizenz zur Nutzung des Dienstes zeitweise oder dauerhaft, jederzeit und ohne Angaben von Gründen zu entziehen. Ausgenommen davon sind gesetzliche Verpflichtungen und Bestimmungen.</li>


</ul>

<h6>Bots/Bugs</h6>

<ul>
  <li>Das Betreiben von Bots ist generell verboten. Ausnahmen benötigen die schriftlichen Zustimmung der Administration.</li>

  <li>Bugs und Fehler sind der Administration zu melden. Ein bewusstes Ausnutzen dieser Bugs ist untersagt.</li>
</ul>

<h6>Sanktionen</h6>

<ul>
  <li>Zuwiderhandlungen gegen diese Regeln werden normalerweise mit Ermahnung, Verwarnung oder Sperre geahndet. Bei schweren Verstößen, oder Verdacht auf Mutwilligkeit beim Verstoß behalten wir uns die Sperrung aller Accounts bis hin zu einem Hausverbot für das gesamte Anoxinon.de Netzwerk vor. Sperrungen von Accounts sind grundsätzlich personenbezogen. Bei einer Accountsperre darf kein weiterer Account von demselben User erstellt oder benutzt werden.</li>
</ul>

<h6>Schlussworte</h6>

<p>Wenn es Unklarheiten bezüglich einer Regel gibt, wird die Administration je nach Fall entscheiden. Wir behalten uns vor diese Nutzungsbedingungen jederzeit zu ändern.</p>
