@font-face {
	font-family: 'OpenSans';
	font-weight: 100;
	src:  url('/font/OpenSans-Light.ttf') format('truetype') }

@font-face {
	font-family: 'OpenSans';
	font-weight: 100;
	font-style: italic;
	src:  url('/font/OpenSans-LightItalic.ttf') format('truetype') }

@font-face {
	font-family: 'OpenSans';
	font-weight: 400;
	src:  url('/font/OpenSans-Regular.ttf') format('truetype') }

@font-face {
	font-family: 'OpenSans';
	font-weight: 400;
	font-style: italic;
	src:  url('/font/OpenSans-Italic.ttf') format('truetype') }

@font-face {
	font-family: 'OpenSans';
	font-weight: 700;
	src:  url('/font/OpenSans-SemiBold.ttf') format('truetype') }

@font-face {
	font-family: 'OpenSans';
	font-weight: 700;
	font-style: italic;
	src:  url('/font/OpenSans-SemiBoldItalic.ttf') format('truetype') }
